.pagination {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--lightgrey-2, #dbdbdb);
  /* text-align: right; */
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
} */

ul.pagination li a {
  display: none;
  text-decoration: none;
  color: var(--lightgrey-2, #dbdbdb);
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  height: 0.2rem;
}

ul.pagination li.active a {
  color: #000;
}
/* 
ul.pagination li.active {

} */

/* ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
} */

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
